{% extends 'AppBundle::layoutPerfil.html.twig' %}

    {% block title %}
        easy-commerce perfil
    {% endblock %}

    {% block nav %}
        {% include 'AppBundle:Comunes:navAdmin.html.twig' %}
    {% endblock %}

    {% block panel %}
        <div class="panel panel-info">
    {% endblock %}

    {% block titulo %}
        <h3 class="panel-title">Perfil usuario</h3>
    {% endblock %}

    {% block img %}
        <div class="col-md-3 col-lg-3 " align="center">
            {% if  app.user.path == NULL %}<!--SI EL USUARIO NO TIENE IMG-->
                <img alt="User Pic" src="{{ asset('uploads/documents/interrogante.jpg') }}" class="img-circle" width="100">
            {% else %}
                <img alt="User Pic" src="{{ asset('uploads/documents/'~ app.user.path) }}" class="img-circle" width="100">
            {% endif %}
        </div><!--/col-md-3 col-lg-3 -->
    {% endblock %}

    {% block table %}

        <tbody>

            <tr>
                <td>
                    <strong>Nombre:</strong>
                </td>
                <td>
                    {{ app.user.nombre }}
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Apellidos:</strong>
                </td>
                <td>
                    {{ app.user.apellido1 }} {{ app.user.apellido2 }}
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Fecha Registro:</strong>
                </td>
                <td>
                    {{ app.user.fecha|date('d/m/Y - H:i') }}
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Email:</strong>
                </td>
                <td>
                    <a href="mailto:info@support.com">{{ app.user.email }}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Username:</strong>
                </td>
                <td>
                    {{ app.user.username }}
                </td>
            </tr>

            <tr>
                <td class="col-md-3 col-md-offset-3">
                    <span>
                        <a class="btn btn-danger" href="{{ path('appBundle_admin_eliminar_user', {'id' : app.user.id}) }}" onclick="return confirm('¿Deseas eliminar el perfil {{ app.user.username|upper }}?')">
                            <i class="glyphicon glyphicon-trash"></i> Eliminar Perfil
                        </a>
                    </span>
                </td>
                <td class="col-md-3 col-md-offset-3">
                    <span>
                        <a class="btn btn-success" href="{{ path('appBundle_admin_user_cambio',{"username":app.user.username,"id":app.user.id}) }}">
                            <i class="glyphicon glyphicon-edit"></i> Editar Perfil
                        </a>
                    </span>
                </td>
            </tr>

        </tbody>

    {% endblock %}