{% extends 'AppBundle::layoutPerfil.html.twig' %}

    {% block title %}
        easy-commerce perfil
    {% endblock %}

    {% block nav %}
        {% include 'AppBundle:Comunes:navAdmin.html.twig' %}
    {% endblock %}

    {% block panel %}
        <div class="panel panel-success">
    {% endblock %}

    {% block titulo %}
        <h3 class="panel-title">Perfil tienda</h3>
    {% endblock %}

    {% block img %}
        {% for tienda in tiendas %}
        <div class="col-md-3 col-lg-3 " align="center">
            {% if  tienda.path == NULL %}<!--SI EL USUARIO NO TIENE IMG-->
                <img alt="User Pic" src="{{ asset('uploads/documents/bg.png') }}" class="img-circle" width="100">
            {% else %}
                <img alt="User Pic" src="{{ asset('uploads/documents/'~ tienda.path) }}" class="img-circle" width="100">
            {% endif %}
        </div><!--/col-md-3 col-lg-3 -->
        {% endfor %}
    {% endblock %}

    {% block table %}
        {% for tienda in tiendas %}
            <tbody>

                <tr>
                    <td>
                        <strong>Nombre:</strong>
                    </td>
                    <td>
                        {{ tienda.nombre }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Descripción:</strong>
                    </td>
                    <td>
                        {{ tienda.descripcion }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Categoría:</strong>
                    </td>
                    <td>
                        {{ tienda.categoria | upper }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Fecha Registro:</strong>
                    </td>
                    <td>
                        {{ tienda.fecha|date('d/m/Y - H:i') }}
                    </td>
                </tr>

                {% if tienda.facebook | length == 0 %}
                    <tr>
                        <td>
                            <strong>Facebook:</strong>
                        </td>
                        <td>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <strong>Facebook:</strong>
                        </td>
                        <td>
                            <a href="{{ tienda.facebook }}">{{ tienda.facebook }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if tienda.twitter | length == 0 %}
                    <tr>
                        <td>
                            <strong>Twitter:</strong>
                        </td>
                        <td>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <strong>Twitter:</strong>
                        </td>
                        <td>
                            <a href="{{ tienda.twitter }}">{{ tienda.twitter }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if tienda.instagram | length == 0 %}
                    <tr>
                        <td>
                            <strong>Instagram:</strong>
                        </td>
                        <td>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <strong>Instagram:</strong>
                        </td>
                        <td>
                            <a href="{{ tienda.instagram }}">{{ tienda.instagram }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="col-md-3 col-md-offset-3">
                        <span>
                            <a class="btn btn-danger" href="{{ path('appBundle_admin_eliminar_tienda', {'id' : tienda.id}) }}" onclick="return confirm('¿Deseas eliminar la tienda {{ tienda.nombre|upper }}?')">
                                <i class="glyphicon glyphicon-trash"></i> Eliminar Tienda
                            </a>
                        </span>
                    </td>
                    <td class="col-md-3 col-md-offset-3">
                        <span>
                            <a class="btn btn-success" href="{{ path('appBundle_admin_tienda_cambio',{"username":app.user.username,"id":tienda.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i> Editar Tienda
                            </a>
                        </span>
                    </td>
                </tr>

            </tbody>

        {% endfor %}
    {% endblock %}