{% extends 'AppBundle::layoutForm.html.twig' %}

    {% block title %}
        easy-commerce registro
    {% endblock %}

    {% block panel %}
        <div class="panel panel-primary">
    {% endblock %}

    {% block titulo %}
        Formulario Registro
    {% endblock %}

    {% block nav %}
        {% include 'AppBundle:Comunes:navSimple.html.twig' %}
    {% endblock %}

    {% block formulario %}

            <form   novalidate="true"
                    id="formularioComentario"
                    method="post"
                    action=""
                    {{ form_enctype(form) }}>

                <div>
                    {{ form_label(form.titulo) }}
                    {{ form_errors(form.titulo) }}
                    {{ form_widget(form.titulo) }}
                </div>
                <div>
                    {{ form_label(form.contenido) }}
                    {{ form_errors(form.contenido) }}
                    {{ form_widget(form.contenido) }}
                </div>

                {{ form_rest(form) }}
                {{ form_errors(form) }}

                <hr class="colorgraph">
                <button type="submit" value="enviar"  class="btn btn-success" name="enviar">
                    <i class="glyphicon glyphicon-floppy-save"></i> Guardar comentario
                </button>

            </form>

    {% endblock %}