{% extends 'AppBundle::layout.html.twig' %}

    {% block title %}
        easy-commerce
    {% endblock %}

    {% block nav %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'AppBundle:Comunes:navConLog.html.twig' %}
        {% else %}
            {% include 'AppBundle:Comunes:navSinLog.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block contenido %}

        <div class="container">

            <div class="row">

                {% block info %}
                    {% include 'AppBundle:Comunes:informacion.html.twig' %}
                {% endblock %}

                <div class="col-md-9">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="User Pic" src="{{ asset('uploads/documents/bg.png') }}" class="img-responsive" width="800px" height="300px">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        {% for tienda in tienda %}
                            {% for producto in tienda.productos %}
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        {% if  producto.path == NULL %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/producto.png') }}" class="img-responsive">
                                        {% else %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/'~ producto.path) }}" class="img-responsive">
                                        {% endif %}
                                        <div class="caption">
                                            <h4 class="pull-right">{{ producto.precio }}€</h4>
                                            <h4><a href="{{ path("appBundle_producto",{"id":producto.id}) }}">{{ producto.nombre|slice(0,17) }}</a>
                                            </h4>
                                            <p>{{ producto.descripcion|slice(0,100) }}...</p>
                                        </div>
                                        <div class="ratings">
                                            <p class="pull-right">Comentarios: {{ producto.comentarios| length }}</p>
                                            <a href="{{ path("appBundle_homepage",{"id":tienda.id }) }}" class="small">{{ tienda.nombre }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>
        <!-- /.container -->

    {% endblock %}

