{% extends 'AppBundle::layout.html.twig' %}

    {% block title %}
        easy-commerce
    {% endblock %}

    {% block nav %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'AppBundle:Comunes:navConLog.html.twig' %}
        {% else %}
            {% include 'AppBundle:Comunes:navSinLog.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block contenido %}

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <p class="lead">easycommerce.es</p>
                    <div class="list-group">

                        <div class="list-group-item">
                            <h4 class="bg-info text-center">Redes Sociales</h4>
                            <ul class="list-inline">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="list-group-item">
                            <h4 class="bg-info text-center">Buscar Tienda</h4>
                            <div class="input-group">
                                <form name="formBusqueda" action="" method="POST">
                                    <input list="nombreT"  class="form-control" name="nombreT"  placeholder="Por Nombre">
                                    <datalist id="nombreT">
                                        {% for tienda in tienda %}
                                            <option value="{{ tienda.nombre }}">{{ tienda.nombre|title }}</option>
                                        {% endfor %}
                                    </datalist>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="buscar">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                            <br>
                            <div class="input-group">
                                <form name="formBusqueda" action="" method="POST">
                                    <input list="categoriaT"  class="form-control" name="categoriaT"  placeholder="Por Categoría">
                                    <datalist id="categoriaT">
                                       <option value="informatica">Informática</option>
                                       <option value="moda">Moda</option>
                                       <option value="cine,tv y musica">Cine,TV y Música</option>
                                       <option value="electronica">Electrónica</option>
                                       <option value="videojuegos">Videojuegos</option>
                                       <option value="juguetes y bebe">Juguetes y Bebé</option>
                                       <option value="hogar y jardin">Hogar y Jardín</option>
                                       <option value="belleza y salud">Belleza y Salud</option>
                                       <option value="ropa y calzado">Ropa y Calzado</option>
                                       <option value="deportes y aire libre">Deportes y Aire Libre</option>
                                       <option value="motor">Motor</option>
                                       <option value="libros">Libros</option>
                                       <option value="freak">Freak</option>
                                       <option value="otros">Otros</option>
                                    </datalist>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="buscar">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="list-group-item">
                            <h4 class="bg-info text-center">Buscar Producto</h4>
                            <div class="input-group">
                                <form name="formBusqueda" action="" method="POST">
                                    <input list="nombreP"  class="form-control" name="nombreP"  placeholder="Por Nombre">
                                    <datalist id="nombreP">
                                        {% for tienda in tienda %}
                                            {% for producto in tienda.productos %}
                                                <option value="{{ producto.nombre }}"></option>
                                            {% endfor %}
                                        {% endfor %}
                                    </datalist>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="buscar">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                            <br>
                            <div class="input-group">
                                <form name="formBusqueda" action="" method="POST">
                                    <input list="categoriaP"  class="form-control" name="categoriaP"  placeholder="Por Categoría">
                                    <datalist id="categoriaP">
                                        {% for tienda in tienda %}
                                            {% for producto in tienda.productos %}
                                                <option value="{{ producto.categoria }}"></option>
                                            {% endfor %}
                                        {% endfor %}
                                    </datalist>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="buscar">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-9">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="User Pic" src="{{ asset('uploads/documents/bg.png') }}" class="img-responsive" width="800px" height="300px">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        {% for tienda in tienda %}
                            {% for producto in tienda.productos %}
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        {% if  producto.path == NULL %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/producto.png') }}" class="img-responsive">
                                        {% else %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/'~ producto.path) }}" class="img-responsive">
                                        {% endif %}
                                        <div class="caption">
                                            <h4 class="pull-right">{{ producto.precio }}€</h4>
                                            <h4><a href="{{ path("appBundle_producto",{"id":producto.id}) }}">{{ producto.nombre|slice(0,17) }}</a>
                                            </h4>
                                            <p>{{ producto.descripcion|slice(0,100) }}...</p>
                                        </div>
                                        <div class="ratings">
                                            <p class="pull-right">Comentarios: 15</p>
                                            <a href="{{ path("appBundle_homepage",{"id":tienda.id }) }}" class="small">{{ tienda.nombre }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>
        <!-- /.container -->

    {% endblock %}

