{% extends 'AppBundle::layout.html.twig' %}

    {% block title %}
        easy-commerce
    {% endblock %}

    {% block nav %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'AppBundle:Comunes:navConLog.html.twig' %}
        {% else %}
            {% include 'AppBundle:Comunes:navSinLog.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block contenido %}

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="list-group">

                        <div class="list-group-item">
                            <p class="bg-info text-center lead">{{ tiendas.nombre|title }}</p>
                            <p class="small">{{ tiendas.descripcion }}</p>
                        </div>

                        <br>

                        {% if tiendas.facebook == NULL and tiendas.twitter == NULL and tiendas.instagram == NULL %}
                        {% else %}
                            <div class="list-group-item">
                                <h4 class="bg-info text-center">Redes Sociales</h4>
                                <ul class="list-inline">
                                    {% if  tiendas.facebook == NULL %}
                                    {% else %}
                                        <li>
                                            <a href="{{ tiendas.facebook }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if  tiendas.twitter == NULL %}
                                    {% else %}
                                        <li>
                                            <a href="{{ tiendas.twitter }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if  tiendas.instagram == NULL %}
                                    {% else %}
                                        <li>
                                            <a href="{{ tiendas.instagram }}"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-9">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        {% if  tiendas.path == NULL %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/bg.png') }}" class="img-responsive">
                                        {% else %}
                                            <img alt="User Pic" src="{{ asset('uploads/documents/'~ tiendas.path ) }}" class="img-responsive">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        {% for producto in tiendas.productos %}
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    {% if  producto.path == NULL %}
                                        <img alt="User Pic" src="{{ asset('uploads/documents/producto.png') }}" class="img-rounded">
                                    {% else %}
                                        <img alt="User Pic" src="{{ asset('uploads/documents/'~ producto.path) }}" class="img-rounded">
                                    {% endif %}
                                    <div class="caption">
                                        <h4 class="pull-right">{{ producto.precio }}€</h4>
                                        <h4><a href="{{ path("appBundle_producto",{"id":producto.id}) }}">{{ producto.nombre|slice(0,17) }}</a></h4>
                                        <p>{{ producto.descripcion|slice(0,100) }}...</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">15</p>
                                        <p>Comentarios</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>
        <!-- /.container -->

    {% endblock %}
