{% extends 'AppBundle::layoutForm.html.twig' %}

    {% block title %}
        easy-commerce registro tienda
    {% endblock %}

    {% block panel %}
        <div class="panel panel-green">
    {% endblock %}

    {% block titulo %}
        Formulario Producto
    {% endblock %}

    {% block nav %}
        {% include 'AppBundle:Comunes:navAdmin.html.twig' %}
    {% endblock %}

    {% block formulario %}

    <form id="registerForm"  action="" method="post" {{ form_enctype(form) }}>

        <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="glyphicon glyphicon-picture"></i>
                    </span>
            {{ form_row(form.file) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </span>
            {{ form_row(form.nombre) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-comment"></i>
            </span>
            {{ form_row(form.descripcion) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-th-list"></i>
            </span>
            {{ form_row(form.categoria) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-euro"></i>
            </span>
            {{ form_row(form.precio) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-open"></i>
            </span>
            {{ form_row(form.cantidad) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-scale"></i>
            </span>
            {{ form_row(form.peso) }}
        </div>

        <hr class="colorgraph">

        <div class="row">
            <div class="col-xs-12">
                <input type='submit' class='btn btn-lg btn-success btn-block ' name='_registrar' value='Registrarme'>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}