{% extends 'AppBundle::layout.html.twig' %}

    {% block title %}
        easy-commerce Producto
    {% endblock %}

    {% block nav %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'AppBundle:Comunes:navConLog.html.twig' %}
        {% else %}
            {% include 'AppBundle:Comunes:navSinLog.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block contenido %}
        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <p><a href="{{ path("appBundle_homepage",{"id":producto.tienda.id }) }}" class="lead">{{ producto.tienda.nombre }}</a></p>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Category 1</a>
                        <a href="#" class="list-group-item">Category 2</a>
                        <a href="#" class="list-group-item">Category 3</a>
                    </div>
                </div>

                <div class="col-md-9">

                    <div class="thumbnail">
                        {% if  producto.path == NULL %}
                            <img alt="User Pic" src="{{ asset('uploads/documents/producto.png') }}" class="img-rounded">
                        {% else %}
                            <img style="height: 100%" alt="User Pic" src="{{ asset('uploads/documents/'~ producto.path) }}" class="img-responsive">
                        {% endif %}
                        <div class="caption-full">
                            <h4 class="pull-right" style="color: #245269">{{ producto.precio }}€</h4>
                            <h4 style="color: #31b0d5">{{ producto.nombre }}</h4>
                            <p>{{ producto.descripcion }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>{{ producto.categoria }}</p>
                        </div>
                    </div>

                    <div class="well">

                        <div class="text-right">
                            <a class="btn btn-success">Leave a Review</a>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                Anonymous
                                <span class="pull-right">10 days ago</span>
                                <p>This product was great in terms of quality. I would definitely buy another!</p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                Anonymous
                                <span class="pull-right">12 days ago</span>
                                <p>I've alredy ordered another one!</p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                Anonymous
                                <span class="pull-right">15 days ago</span>
                                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    {% endblock %}